#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  background-color: #90640ddb;
  min-height: 100vh;
}

.logo {
  margin-right: 30px;
}

App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.go1,
.go2,
.go3,
.go4 {
  font-size: 25px;
  padding: 10px 20px;
  border: 5px solid purple;
  color: skyblue;
  background-color: blue;
  margin: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  box-shadow: inset 0 0 0 0 purple;
  transition: all 0.7s;
}

.go1:hover {
  /* box-shadow: inset 0 100px 0 0 #d80286; */
  box-shadow: inset 0 20px 0 0 purple, inset 0 50px 0 0 #d80286;
}

.go2:hover {
  box-shadow: inset 400px 0 0 0 #d80286;
}

.go3:hover {
  box-shadow: inset 400px 50px 0 0 #d80286;
}

.go4:hover {
  box-shadow: inset 0 0 0px 50px #d80286;
}

.activ {
  background-color: skyblue;
}

.vetal {
  font-size: 25px;
  padding: 10px 20px;
  border: 5px solid green;
  border-radius: 5px;
  background-color: greenyellow;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: inset 0 0 0 0 green;
  transition: all 0.7s;
}

.vetal:hover {
  box-shadow: inset 0 0 0 30px plum;
  border: 5px solid red;
}

.title {
  color: teal;
  text-shadow: 5px 5px #558abb;
  transition: all 0.7s;
}

.title:hover {
  /* color: rgb(225, 65, 126); */
  text-shadow: rgb(29, 74, 97) 1px 0 10px;
}

.score {
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: rgb(28, 86, 64);
  text-shadow: 5px 5px #558abb;
  transition: all 0.7s;
  background-color: rgb(158, 158, 22);
}

body {
  background-color: rgb(28, 104, 119);
}
.govno {
  text-align: left;
  color: #189f82;
  font-family: docs-Caveat;
}

.nnnn {
  margin: 0 auto;
  width: 1400px;
}

.ani {
  text-align: left;
  color: rgb(0, 100, 139);
}

.imgg {
  float: right;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.jio {
  margin-top: 500px;
  text-align: left;
  color: #61dafb;
}
.tyu {
  margin-top: 50px;
  text-align: left;
  color: rgb(0, 100, 139);
}
.RTTT {
  background-color: #189f82;
}
